---
import BaseLayout from "../layouts/BaseLayout.astro";
import PrimaryButton from "../components/PrimaryButton.astro";

const pageTitle = "Home";
const page = "home";
---

<BaseLayout pageTitle={pageTitle} page={page}>
  <main id="main" class="container">
    <div class="columns-2 column--on-m">
      <div class="flow">
        <h1 class="text-accent fs-2xl">
          The Shadows
          <span class="fs-4xl">Beckon...</span>
        </h1>
        <p>
          Confront the horrors lurking beyond the veil of reality. Explore the
          grotesque creatures, haunted landscapes, and shattered minds of H.P.
          Lovecraft's cosmic abyss.
        </p>
      </div>
      <div class="">
        <PrimaryButton btnText="Discover The Mythos" btnUrl="/creatures" />
      </div>
    </div>
  </main>
</BaseLayout>

<style>
  .container {
    /* outline: 5px dotted pink; */
  }
  .columns-2 {
    --gap: var(--space-m);
    height: 100%;
    place-items: center;
    /* padding-block-end: 2rem; */

    & p {
      max-width: 45ch;
    }

    /* outline: 2.5px solid limegreen;
    & > * {
      outline: 1px solid red;
    } */
  }

  h1 > span {
    display: block;
  }
</style>
