.skip-link {
	position: absolute;
	z-index: 9999;
	background: var(--clr-neutral);
	color: var(--clr-base);
	padding: .5em 1em;
	margin-inline: auto;
	transform: translateY(-100%);
	transition: transform 250ms ease-in;
}

.skip-link:focus {
	transform: translateY(0);
}