---
const { btnText, btnUrl } = Astro.props;
---

<a
  href={btnUrl}
  class="primary-button | uppercase fs-xl fw-bold bg-base text-dark radius-full text-center"
  ><span>{btnText}</span></a
>

<style>
  .primary-button {
    font-size: 2rem;
    position: relative;
    display: inline-grid;
    z-index: 1;
    place-items: center;
    padding: 0 2em;
    aspect-ratio: 1;
    text-decoration: none;
    line-height: 1.2;
    outline: none;

    > span {
      max-width: 15ch;
    }

    &::before {
      content: "";
      position: absolute;
      inset: 0;
      opacity: 0.05;
      background-image: url(../assets/shared/necronomicon.png);
      background-size: 100%;
      background-repeat: no-repeat;
    }

    &::after {
      content: "";
      position: absolute;
      z-index: -1;
      width: 100%;
      height: 100%;
      background: hsl(var(--accent) / 0.2);
      border-radius: 50%;
      opacity: 0;
      transition:
        opacity 500ms linear,
        transform 500ms ease-in-out;
    }

    &:hover::after,
    &:focus::after {
      opacity: 1;
      transform: scale(1.3);
    }
  }
</style>
