---
import navData from "../data/site-map.json";
---

<nav id="primary-navigation">
  <ul
    id="primary-navigation"
    class="primary-navigation | list-none flex"
    data-visible="false">
    {
      navData.map((item) => (
        <li>
          <a class="uppercase text-light letter-spacing-3" href={item.url}>
            {item.text}
          </a>
        </li>
      ))
    }
  </ul>
</nav>

<style>
  nav {
    order: 2;
    background: hsl(var(--base) / 0.1);
    font-weight: 600;
    backdrop-filter: blur(1.5rem);
    margin: 2rem 0;
    padding: calc(var(--space-xl) * 0.75) var(--space-3xl);
    border-radius: var(--radius-m) 0 0 var(--radius-m);
  }

  .primary-navigation {
    --gap: var(--space-l);

    padding: 0;
    margin: 0;

    li {
      transition: scale 0.3s ease;
    }

    a {
      transition: text-decoration 0.3s ease;
    }

    &:hover > li,
    &:focus-within > li {
      scale: 0.95;
      opacity: 0.3;

      > a {
        text-decoration: line-through;
      }
    }

    &:hover > li:hover,
    &:focus-within > li:focus-within {
      scale: 1;
      opacity: 1;

      > a {
        color: var(--clr-accent);
        text-decoration: none;
      }
    }
  }

  @media (max-width: 35rem) {
    nav {
      position: fixed;
      background: hsl(var(--base-d-2) / 0.75);
      font-size: var(--fs-2xl);
      border-radius: unset;

      inset: 0;
      margin: 0;
      padding: min(20rem, 15vh) var(--space-xl);
      z-index: 1000;
      transform: translateX(100%);
      transition: transform 500ms ease-in-out;

      &[data-visible="true"] {
        transform: translateX(0%);
      }
    }

    .primary-navigation {
      flex-direction: column;
      align-items: center;

      a {
        color: var(--clr-accent);
      }
    }
  }
  @media (min-width: 35em) and (max-width: 47.9999em) {
    nav {
      margin-block: 0;
      padding: calc(var(--space-xl) * 0.75) var(--space-xl);
    }
  }
</style>
