---
import { Image, getImage } from "astro:assets";

import bgHome from "../assets/background-images/home/bg-home.png";
import bgCreatures from "../assets/background-images/creatures/bg-creatures.png";
import bgLocations from "../assets/background-images/locations/bg-locations.png";
import bgPeople from "../assets/background-images/people/bg-people.png";
import texture from "../assets/texture/texture.png";

const { page } = Astro.props;

let bgImage;
if (page.toLowerCase() === "home") {
  bgImage = await getImage({ src: bgHome });
} else if (page.toLowerCase() === "creatures") {
  bgImage = await getImage({ src: bgCreatures });
} else if (page.toLowerCase() === "locations") {
  bgImage = await getImage({ src: bgLocations });
} else {
  bgImage = await getImage({ src: bgPeople });
}
---

<body style={`background-image: url('${bgImage.src}')`}>
  <Image src={texture} alt="" loading="eager" transition:animate="fade" />
  <slot />
</body>

<style>
  body {
    display: grid;
    grid-template-rows: min-content 1fr;
    overflow-x: hidden;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
  }

  img {
    aspect-ratio: unset;
    position: absolute;
    height: 100%;
    width: 100%;
    pointer-events: none;

    opacity: 0.75;
    z-index: 9999;
  }
</style>
